* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  background: #020017;
}

main {
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  gap: 1rem;
}
main .left,
main .right {
  height: 100%;
  flex-basis: 50%;
  border-radius: 0.7rem;
}

main .left {
  background: #000;
  position: relative;
}
main .right {
  background: #181818;
  overflow: scroll;
  padding: 2rem;
  color: beige;
  line-height: 3rem;
  font-size: 1.2rem;
}
main .left .review {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: white;
  background-color: rgb(89, 89, 208);
  padding: 0.5rem 2rem;
  font-weight: 500;
  border-radius: 0.7rem;
  cursor: pointer;
  user-select: none;
}

.left .code,
.code pre,
.code pre {
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 0.7rem;
  background: #000 !important;
}
/* Change the style of the scrollbar */
::-webkit-scrollbar {
  width: 8px; /* width of the vertical scrollbar */
  height: 8px; /* height of the horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* color of the scrollbar thumb */
  border-radius: 10px; /* round the thumb edges */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* color when hovering over the thumb */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* background of the scrollbar track */
  border-radius: 10px; /* round the track edges */
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 2.5rem;
  margin: 1rem;
  gap: 0.25rem;
}

.loader-bar {
  width: 0.5rem;
  height: 100%;
  background-color: #603f26;
  animation: bounce 1s ease-in-out infinite;
}

/* Bounce animation keyframes */
@keyframes bounce {
  0%,
  100% {
    transform: scaleY(0.4);
  }
  50% {
    transform: scaleY(1);
  }
}
